/* Color Scheme

http://www.workwithcolor.com/

#6A46FB  royal blue

#FB46D7  coral pink

#FB6A46   reddish brown

#D7FB46   lime yellow

#46FB6A   light green

#46D7FB   light blue

*/

body {
	font-family: 'Lato', sans-serif;
	font-size:16px;
}
