/* Color Scheme

http://www.workwithcolor.com/

#6A46FB  royal blue

#FB46D7  coral pink

#FB6A46   reddish brown

#D7FB46   lime yellow

#46FB6A   light green

#46D7FB   light blue

*/

body {
	font-family: 'Lato', sans-serif;
	font-size:16px;
}

#navbar {
	border: 2px red solid;
	overflow: hidden;
}

nav h2 {
	color: blueviolet;
	border: 2px blue solid;
	width:50%;
	display: inline;
	letter-spacing: 2px;
	
	
	
}

li {
	font-size: 1.2em;
	list-style-type: none;
	display: inline;
	float: right;
	padding-right: 20px;
	padding-bottom: 10px;
	
	
}



#hero {
	border: 2px red solid;
	text-align: center;
}

#portfolio-samples {
	border: 2px red solid;
	text-align: center;
}

#about {
	border: 2px red solid;
	text-align: center;
}

#contact {
	border: 2px red solid;
	text-align: center;
	
}

#footer {
	border: 2px red solid;
	text-align: center;
}





